body {
    margin: 0;
    padding: 0;
}
.content {
    width: 2520px;
    height: 1080px;
}
.panel {
    width: 100%;
    height: 100%;
    display: none;
}
#active {
    display: block;
}
#active.panel1 {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel1 > #time1 {
    font-size: 600px;
    color: #ffffff;
}
#active.panel2 {
    background-color: #000000;
    display: flex;
}
.panel2 > .left, .panel2 > .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel2 > .left {
    width: 1500px;
}
.panel2 > .left > div, .panel2 > .right > div {
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.panel2 > .left > div > #time2l {
    font-size: 400px;
    margin: 0;
}
.panel2 > .left > div > #date {
    font-size: 160px;
}
.panel2 > .right {
    width: 1020px;
}
.panel2 > .right > div > #weather > img {
    width: 300px;
}
.panel2 > .right > div > .temperature > #high {
    color: #ff0000;
}
.panel2 > .right > div > .temperature > #low {
    color: #4e90ff;
}
.panel2 > .right > div > span {
    font-size: 100px;
}